{% extends 'base.html.twig' %}

{% block title %}Accueil Quai Antique{% endblock %}

{% block body %}

<div class="example-wrapper">
  <div>
  <img src="C:\Users\letig\Desktop\Studi\ECF_2023_JOUBAUD\templates\Images\logo.png" alt="logo QA">
  </div>
<h1>Quai Antique</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Accueil</a>
            <a class="nav-item nav-link" href="menu">La carte</a>
            <a class="nav-item nav-link" href="booking">Réservation</a>
            <a class="nav-item nav-link" href="login">Se connecter</a>
          </div>
        </div>
    </nav>
    <img src="" alt="logo QA">
<div style="width: 200px; height: 200px; background-color: red ;">
<img style="width: 200px
;" src="logo.png" alt=""></div>
</div>
{% endblock %}
