@import "~bootstrap/scss/bootstrap";

body {
    background-color: yellow;
}

h1{
    color: aqua;
}

.fre{
    background-color: aqua;
}
.dota{
    margin: 55px;
}
/*
  beige: #B6AC97;

  marron: #392C1E;

  background-color: #906427;
}*/